<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
 <html>
     <head>
         <title>Title</title>
         <style type="text/css">
             body {
                 font-weight: 200;
                 font-size: 14px;
                 margin:10px;
             }
             .header {
                 font-size: 20px;
                 font-weight: 100;
                 text-align: center;
                 color: #007cae;
             }
             .title {
                 font-size: 22px;
                 font-weight: 100;
                /* text-align: right;*/
                padding: 10px 20px 0px 20px;  
             }
             .title span {
                 color: #007cae;
             }
             .details {
                 padding: 10px 20px 0px 20px;
                 text-align: left;
             }
             .hrItem {
                 border: none;
                 height: 1px;
                 /* Set the hr color */
                 color: #333; /* old IE */
                 background-color: #fff; /* Modern Browsers */
             }
             #para{
                font-size: 16px;
                padding: 10px 70px;
                text-align: justify;
             }
             img{
                display: block;
                margin-left: auto;
                margin-right: auto;
             }
         </style>
     </head>
     <body>
         <div class='wrapper'>
             <div class='header'>
                 <p class='title'>Bonafide </p>
             </div>
         <div>
         <div class='details'>


                  {% load static from staticfiles %}


                 <img src={% static "images/mkce.jpg" %}>
                 <br/>
                 <br/>
                 <p id="para">


                 This is to certify that <strong>Mr./Ms. {{name}}</strong> , son/daughter of <strong>
                 Mr/Ms. {{fathers_name}}</strong> is a bonafide student of this Department/ College/ Institution M.Kumarasamy college of enginnering pursuing the course in 2019 year/ semester the course during the academic year {{year}}.

             <hr class='hrItem' />

            <a href="certificate/"><button>download</button></a>
         </div>
     </div>
     </body>
 </html>
