<!-- {%block head%}
	<title>login</title>
{% endblock%}

{% block body %}


<form method="post">
	{% csrf_token %}
	{{ form.as_p }}
</form>
<button>login</button>
{% endblock %}
 -->




 <!DOCTYPE html>
<html>
<head>
    <title>Login</title>
             <style type="text/css">
             form {
                 font-weight: 200;
                 font-size: 25px;
                 margin:25% 25%;
             }
             body{
    
             	    background:  #a6c1bc;
    				/*background: -webkit-linear-gradient(#19418c, #59e0dd);*/
             }

             }
         </style>
     </head>
</head>
<body>
   <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form }}
            </fieldset>
            <div class="form-group">
                <button type="submit">Login</button>
            </div>
        </form> 
</body>
</html>